.mat-toolbar {
    background-color: black;
    color: white;
    padding-left: 105px;
    text-align: center;
    font-size: 20px;
}

#hotel{
    padding-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
.mat-nav-list{
   height: 25px; 
}
p{
    height: 20px;
    font-size: 18px;
    font-style: oblique;
}

.mat-sidenav-container {
    background-color: lightseagreen;
}