<div class="backImage">
    <h5></h5>
<div class="col-md-4 offset-md-4  card card-body border border-dark">
    <div class="text-danger" *ngIf='error'>
        {{error}}
    </div>
     <h4>
        Login Here!!!
    </h4>
    <hr>
    <form #loginForm="ngForm" (ngSubmit)='loginUser(loginForm)'>
        <div class="form-group">
            <label for="Email ID">Email ID</label>
            <input class="form-control" type="email" name="email" placeholder="Enter Your Email ID" #email='ngModel'
                ngModel required email>
            <div *ngIf='email.touched && email.invalid'>
                <p class="text-danger" *ngIf='email.errors.required'>
                    This field is mandatory
                </p>
                <p class="text-danger" *ngIf='email.errors.email'>
                    please enter valid email id
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter Your password"
                #password='ngModel' ngModel required password minlength="4">
            <div *ngIf='password.touched && password.invalid'>
                <p class="text-danger" *ngIf='password.errors.required'>
                    This field is mandatory
                </p>
                <p class="text-danger" *ngIf='password.errors.minlength'>
                    Minimnum 3 charachter is mandatory
                </p>
            </div>
        </div>
        <div class="float-right">

            <button class=" btn btn-dark" type="submit"  name="login" [disabled]='loginForm.invalid'>
                Login

            </button>&nbsp;
            <button class=" btn btn-dark" type="reset">
                Cancel

            </button>

        </div>
        <br>
        <br>
        <br>
        <!-- <div class="custom-control custom-checkbox float-left">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label " for="defaultUnchecked">Remember me</label>
        </div>
        <label class="float-right" for="forgot password">
            <a href="">Forgot Password</a>
        </label> -->
        <!-- <br>
        <br> -->
        <label for="register">Don't have an account <a routerLink="/register">Click Here</a></label>
    </form>
</div>
</div>