<div class="col-md-4 offset-md-4 mt-5 card card-body border border-dark">
    <div class="text-danger" *ngIf='error' id="errorMsg">
        {{error}}
    </div>
     <h4>
        Login here
    </h4>
    <hr>
    <form #loginForm="ngForm" (ngSubmit)='loginUser(loginForm)'>
        <div class="form-group">
            <label for="Email ID">Email ID</label>
            <input class="form-control" type="email" name="email" placeholder="Enter Your Email ID" #email='ngModel'
                ngModel required email>
            <div *ngIf='email.touched && email.invalid'>
                <p class="text-danger" *ngIf='email.errors.required'>
                    *This field is mandatory
                </p>
                <p class="text-danger" *ngIf='email.errors.email'>
                    *Please Enter valid email id<br>
                    *It should contain @ and .
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter Your password"
                #password='ngModel' ngModel required  minlength="4">
                <!-- pattern="((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})" -->
            <div *ngIf='password.touched && password.invalid'>
                <p class="text-danger" *ngIf='password.errors.required'>
                    *This field is mandatory
                </p>
                <p class="text-danger" *ngIf='password.errors.pattern'>
                    *This field contain one alphabet , one special charachter and one number
                </p>
                <p class="text-danger" *ngIf='password.errors.minlength'>
                    *This field minimum length is 4
                </p>
            </div>
        </div>
        <div class="float-right">

            <button class=" btn btn-dark" type="submit"  name="login" [disabled]='loginForm.invalid'>
                Login

            </button>&nbsp;
            <button class=" btn btn-dark" type="reset">
                Cancel

            </button>

        </div>
        <br>
        <br>
        <br>
        <!-- <div class="custom-control custom-checkbox float-left">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label " for="defaultUnchecked">Remember me</label>
        </div>
        <label class="float-right" for="forgot password">
            <a href="">Forgot Password</a>
        </label> -->
        <!-- <br>
        <br> -->
        <label for="register">Don't have an account <a routerLink="/register">Click Here</a></label>
    </form>
</div>