<div *ngFor='let h of hotelList'>
    <div class="card card-body float-left" style="height: 400px; width: 380px;">
        <img src="{{h.hotelImageURL}}" alt="" style="height: 200px; width: 200px;">
        <label for="licenceNumber">Licence Number: {{h.licenceNumber}}</label>
        <label for="hotelName">Name :{{h.hotelName}}</label>
        <label for="hotelName">Address :{{h.hotelAddress}}</label>
        <label for="hotelName">Contact Number :{{h.hotelContactNumber}}</label>
        <button class="btn btn-outline-dark" (click)="userRoomList(h)">
            View Rooms
        
        <!-- <app-user-room-list [dataFromParent]='h' ></app-user-room-list> -->
    </button>
    </div>
</div>