<div class="container mt-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>hotelName</th>
                <th>licenceNumber</th>
                <th>name</th>
                <th>email</th>
                <th>password</th>
                <th>address</th>
                <th>contactNumber</th>
                <th>nationality</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let employee of employeeList'>
                <td>{{employee.hotelName}}</td>
                <td>{{employee.licenceNumber}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.password}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.contactNumber}}</td>
                <td>{{employee.nationality}}</td>
                <td>
                    <button class="btn btn-outline-dark" (click)="deleteEmployeeInfo(employee)">
                        Delete
                    </button>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal"
                        (click)="selectEmployee(employee)">
                        Update
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        (click)="employeeService.adminEmployeeList()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- form code -->
                                    <div class="card card-body border border-dark">
                                        <form #updateEmployee='ngForm' (ngSubmit)='updateEmployeeInfo(updateEmployee)'>
                                            <input type="hidden" name="employeeId" #employeeId='ngModel'
                                                [(ngModel)]='selectedEmployee.employeeId'>
                                            <div class="form-group">
                                                <label for="name">
                                                    name:
                                                </label>
                                                <input type="text" name="name" class="form-control" #name="ngModel"
                                                    ngModel [(ngModel)]="selectedEmployee.name">

                                            </div>

                                            <div class="form-group">
                                                <label for="email">
                                                    email:
                                                </label>
                                                <input type="text" name="email" class="form-control"
                                                    #email="ngModel" ngModel
                                                    [(ngModel)]="selectedEmployee.email"
                                                  >
                                              
                                            </div>

                                            <div class="form-group">
                                                <label for="password">
                                                    password:
                                                </label>
                                                <input type="text" name="password" class="form-control"
                                                    #password="ngModel" ngModel
                                                    [(ngModel)]="selectedEmployee.password"
                                                   >
                                               1
                                            </div>

                                            <div class="form-group">
                                                <label for="address">
                                                    address:
                                                </label>
                                                <input type="text" name="address" class="form-control"
                                                    #address="ngModel" ngModel
                                                    [(ngModel)]="selectedEmployee.address"
                                                   >
                                             
                                            </div>

                                            <div class="form-group">
                                                <label for="contactNumber">
                                                    contactNumber:
                                                </label>
                                                <input type="text" name="contactNumber" class="form-control"
                                                    #contactNumber="ngModel" ngModel id="contactNumber"
                                                    [(ngModel)]="selectedEmployee.contactNumber"
                                                    >
                                              
                                            </div>

                                            <div class="form-group">
                                                <label for="nationality">
                                                    nationality:
                                                </label>
                                                <input type="text" name="contactNumber" class="form-control"
                                                    #contactNumber="ngModel" ngModel id="contactNumber"
                                                    [(ngModel)]="selectedEmployee.contactNumber"
                                                    >
                                              
                                            </div>


                                            <div class="btn-group float-right">
                                                <button class="btn btn-outline-dark" type="reset">
                                                    Reset
                                                </button>
                                                &nbsp;&nbsp;
                                                <button class="btn btn-outline-dark" type="submit"
                                                    [disabled]='updateEmployee.invalid'>
                                                    Update
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                    <!-- form code -->
                                </div>

                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>